@font-face 
{
    font-family: HelveticaNeueMedium ;
    src : url(../fonts/HelveticaNeueMedium.otf);
}

@font-face 
{
    font-family: HelveticaNeueThin ;
    src : url(../fonts/HelveticaNeueThin.otf);
}

@font-face 
{
    font-family: HelveticaNeueRegular ;
    src : url(../fonts/HelveticaNeueRegular.ttf);
}

::placeholder {
    text-align: center;
    font-family: HelveticaNeueThin;
    font-size: 14px;
    color: rgba(17, 14, 14, 0.788);    
}

body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    height: 70px;
    width: 100%;
    box-shadow: 0 1px 3px #aaaaaa;  
}

.nav-bar img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;

}
.nav-links{
    text-decoration: none;
    margin-top: -38px;
    text-align: center;
    font-family: HelveticaNeueMedium;
    font-size: 45;
    margin-bottom: 15px;
    color: rgba(27, 20, 72, 0.788);
}

/*.nav-links {
    margin-top: -38px;
    text-align: center;
    word-spacing: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #707070;
    font-family: HelveticaNeueMedium;
    font-size: 50px;
}
*/


/* login button styling */
.viewClient {
    position: absolute;
    top: 10px;
    left: 88%;
    word-spacing: 15px;
}

/* code reuse for both button */
.viewClient button {
    height: 50px;
    width: 120px;
    font-family: HelveticaNeueMedium;
    outline: none;
}


#btn-logout {
    border: none;
    border-radius: 25px;
    background-color: #591484;
    color: white;
}

#btn-logout:hover {
    cursor: pointer;
}
.menuSection{
    /*position: fixed;*/
    width: 255px;
    height: 580px;
    background-color: rgb(0,0,0,0.80);
    border-right: 1px solid black;
    
    margin-top: 2px;
    margin-left: 7px;
    margin-right: 5px;
    float: left;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;



}
.menuTitle{
    margin-left:15px;
    margin-top: 20px;
    color: rgba(230,230,230,0.85);


}

ul{
  list-style-type: none;
  padding: 10px;
  /*font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;*/

}
ul li{
    margin-bottom: 15px;
    margin-left: 8px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    font-size: 1.00rem;
    font-weight:bold ;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding-bottom: 15px;
}
ul.menu li a {
    text-decoration: none;
    color: rgba(230,230,230,0.85);
    
    padding: 5px 10px 5px 10px;
}
ul li:hover{
    background-color: #5D0D7A;
}
ul li:active{
    background-color: #008C71;
}
.material-icons{
    margin-right: 10px;
}

